<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>801914138935-msosq37mdsehdnrch77o3e1k6cvj3c93.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801914138935-msosq37mdsehdnrch77o3e1k6cvj3c93</string>
	<key>API_KEY</key>
	<string>AIzaSyAwT8nz3naDt2P1bdN9u4XgwzG4-ErhyeY</string>
	<key>GCM_SENDER_ID</key>
	<string>801914138935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.teamup</string>
	<key>PROJECT_ID</key>
	<string>teamup-8fe54</string>
	<key>STORAGE_BUCKET</key>
	<string>teamup-8fe54.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801914138935:ios:99e4ea0ba7764598</string>
	<key>DATABASE_URL</key>
	<string>https://teamup-8fe54.firebaseio.com</string>
</dict>
</plist>